body{
    margin: 0;
}
.fondo{
    background: linear-gradient(rgba(2,0,7,0.4), rgba(2,0,7,0.4)), url(img/banner2.jpg);
    /*background-image: url(img/banner2.jpg);*/
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.titulo{
    text-align: center;
    margin: 0;
    padding: 10px;
    color: white;
    font-family: cursive;
}


.p-sub{
    text-align: center;
}